@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/resources/*/**';
@source '../../../../resources/views/filament/pages/*/**';
@source '../../../../resources/views/filament/forms/*/**';
@source '../../../../vendor/saade/filament-fullcalendar/resources/views/**/*.blade.php';

@import "./partials/_variables.css";
@import "./partials/_layout.css";
@import "./partials/_groups.css";
@import "./partials/_sidebar.css";
@import "./partials/_page.css";
@import "./partials/_table.css";
@import "./partials/_forms.css";

[style] {
    --cols-default: repeat(1, minmax(0, 1fr));
}

@layer components {
    .fi-grid:not(.fi-grid-direction-col) {
        grid-template-columns: var(--cols-default);
        display: grid;
    }
    .fi-sc.fi-sc-has-gap {
        gap: calc(var(--spacing) * 4);
    }
    .fi-sc {
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
    }
}
