.fi-tabs-item {
    &.fi-active {
        background-color: #4f39f6;
    }
}

.fi-tabs-item {
    &.fi-active {
        & .fi-tabs-item-label,
        & > .fi-icon {
            color: #fff;
        }
    }
}

/* Card picker scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(209 213 219 / 0.5) transparent;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(209 213 219 / 0.5);
        border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(156 163 175 / 0.7);
    }
}

:is(.dark) .custom-scrollbar {
    scrollbar-color: rgb(75 85 99 / 0.5) transparent;

    &::-webkit-scrollbar-thumb {
        background-color: rgb(75 85 99 / 0.5);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(107 114 128 / 0.7);
    }
}
